.content {
    border: 3px solid black;
}
.title h1 {
    margin: 0;
}
.content li {
    color: white;
}
a.button {
    text-decoration: none;
}
#call, #send-email {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    border-radius: 10px;
    margin: 10px;
    float: right;
    background-color: rgb(185, 47, 47);  
}
#call:hover, #send-email:hover {
    background-color: tomato;
    text-decoration-color: rgb(96, 121, 190);
}
#call:hover span:nth-child(2), #send-email:hover span:nth-child(2){
    color: #333;
    font-weight: bold;
}
.btn-info:hover {
    box-shadow: 0 2px 10px grey;
    z-index: 1;
}
span.button-text {
    color: white;
}
#quan-tri {
    clear:  both;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}
#dat-lich-hen {
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.content-call span:first-child {
    color: white;
}
#dia-chi {
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
address {
    text-align: center;
}
iframe {
    width: 100%;
    border-radius: 5px;
}